<template>
  <div class="MainScreen">
    <h1>MainScreen</h1>
    <vue-apex-charts width="100%" height="300px;" :options="options" :series="series"></vue-apex-charts>
    {{data}}
    <hr />
    {{series}}
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import HttpRequests from './mixins/HttpRequests.vue'
export default {
  name: 'MainScreen',
  mixins: [HttpRequests],
  components: {VueApexCharts},
  created () {
    this.loadResources()
  },
  data () {
    return {
      resources : [
        {url:'http://localhost/logger_viewer_vue/examples/data3.json'},
        //{url:'http://192.168.1.13:8080/'}
      ],
      data: {},
      dateTimeMin: null,
      dateTimeMax: null,
      roundingMins: 2
    }
  },
  computed: {
    series () {
      let data = [];
      //const timeMinGrouped = this.dateTimeGroup(this.dateTimeMin);
      //const timeMaxGrouped = this.dateTimeGroup(this.dateTimeMax);
      for (const key in this.data) {
        if (Object.prototype.hasOwnProperty.call(this.data, key)) {
          const itemsArr = this.data[key];
          let series = {name: key, data:[]}
          let timeGroupedLast = null
          let groupedCounts = {}
          itemsArr.forEach(element => {
            if(typeof groupedCounts[element.timeGrouped] === 'undefined'){
              groupedCounts[element.timeGrouped] = 0
            }
            groupedCounts[element.timeGrouped] += element.count;
          })
          //console.log(groupedCounts);
          for (const key in groupedCounts) {
            if (Object.prototype.hasOwnProperty.call(groupedCounts, key)) {
              const count = groupedCounts[key];
              const timeGroupedPrev = this.timeGroupPrev(key)
              if(timeGroupedLast && timeGroupedLast < timeGroupedPrev){
                const timeGroupedLastNext = this.timeGroupNext(timeGroupedLast)
                if(timeGroupedLastNext < timeGroupedPrev){
                  series.data.push([timeGroupedLastNext, 0])
                }
                series.data.push([timeGroupedPrev, 0])
              }
              series.data.push([parseInt(key), count])
              timeGroupedLast = parseInt(key)
            }
          }
          
          // itemsArr.forEach(element => {
          //   if(timeGroupedLast){
          //     const timeGroupedPrev = this.timeGroupPrev(element.timeGrouped)
          //     if(timeGroupedLast < timeGroupedPrev){
          //       const timeGroupedLastNext = this.timeGroupNext(timeGroupedLast)
          //       if(timeGroupedLastNext < timeGroupedPrev){
          //         series.data.push([timeGroupedLastNext, 0])
          //       }
          //       series.data.push([timeGroupedPrev, 0])
          //     }
          //   }
          //   series.data.push([element.timeGrouped, element.count])
          //   timeGroupedLast = element.timeGrouped
          // })
          data.push(series)
        }
      }

      return data;
      // return [{
      //   name: 'series-1',
      //   data: [[1486684800000, 34],[1486771200000, 43]]
      // }]
    },
    options () {
      return {
        chart: {
          id: 'vuechart-example',
          type: "line"
        },
        xaxis: {
          type: 'datetime'
        }
      }
    }
  },
  methods: {
    loadResources() {
      this.resources.forEach(element => {
        this.fetchNest(element.url).then((response) => {
          if(response !== null){
            this.resourceInitData(response)
          }
        });
      });
    },
    resourceInitData(data) {
      if (data && data.items) {
        for (const key in data.items) {
          if (Object.prototype.hasOwnProperty.call(data.items, key)) {
            const itemsArr = data.items[key];
            if(typeof this.data[key] === 'undefined') {
              this.$set(this.data, key,  [])
            }
            itemsArr.forEach(element => {
              let newItem = {count:element.count, dateTime: element.dateTime, timeGrouped: (this.dateTimeGroup(new Date(element.dateTime))).getTime()}
              this.data[key].push(newItem)
              if(!this.dateTimeMin || this.dateTimeMin > newItem.dateTime){
                this.dateTimeMin = newItem.dateTime
              }
              if(!this.dateTimeMax || this.dateTimeMax < newItem.dateTime){
                this.dateTimeMax = newItem.dateTime
              }
            });
          }
        }
      }
    },
    dateTimeGroup (dateTime) {
      dateTime.setMilliseconds(0)
      dateTime.setSeconds(0)
      let mins = dateTime.getMinutes()
      switch (this.roundingMins) {
        case 1:
          break;
        case 5:
        case 10:
        case 15:
        case 30:
        case 60:
          dateTime.setMinutes(mins - mins % this.roundingMins)
          break;
      
        default:
          console.warn('Undefined roundingMins ', this.roundingMins)
          break;
      }
      
      return dateTime
    },
    timeGroupPrev(time){
      return time - 1000*60*this.roundingMins;
    },
    timeGroupNext(time){
      return time + 1000*60*this.roundingMins;
    },
    dateTimeGroupString (dateTimeString) {
      return dateTimeString.substring(0, 16).replace('T', ' ')
    }
  }
}
</script>